html {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.5;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h2 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}


html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

/* Headings */

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: lighter;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-right: 30px;
}

/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.iphone {
  transform: rotate(15deg);
  width: 60%;
  margin-left: 50px;
  position: absolute;
}


.img-div {
  position: relative;
}

/* Features */

#features {
  text-align: center;
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.fas {
  color: #ef8172;
  margin-bottom: 1rem;
}

.fas:hover {
  color: #ff4c68;
}

.triti {
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: 600;
}

.desc-tri {
  color: #8f8f8f;
}

#title {
  background-color: #ff4c68;
  color: white;
  position: relative;
}

#id {
  background-color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-img {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

#smirk {
  width: 5%;
}

#smirk:hover {
  background: url("images/kiss.png") no-repeat;
}

/* Pricing */

#pricing {
  text-align:center;
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */

#cta {
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 15%;
}

.cta-txt {
  color: white;
  font-family: 'Montserrat';
  font-size: 3rem;
  font-weight: bold;
}

/* Footer */

#footer {
  text-align: center;
  padding: 7% 15%;
}

.cont {
  margin: 20px 10px;
  color: black;
}

.cont:hover {
  color: #ff4c68;
}


.rights {
  color: #40514e;
}


@media screen and (max-width:1030px){

  #title {
    text-align: center;
  }

  .iphone {
    position: static;
    transform: rotate(0);
    width: 60%;
  }

}
